<p>Hello <%= @user.fname %>,</p></br>
<p>This is a reminder about your upcoming payment.</p>
<p>Please make sure to make the payment by the due date.</p></br>
<p>Next payment: <%= @tenant.next_payment.strftime("%d %A, %B %Y") %></p>
<p>Amount due: <%= number_to_currency(@tenant.amount_due, unit: 'KES', precision: 0) %></p>
