<p>Hello <%= @user.fname %>,</p>

<p>This is a reminder about your upcoming payment.</p>
<p>Please make sure to make the payment by the due date.</p>

<p>Next payment: <%= @tenant.next_payment.strftime("%d %B %Y") %></p>

<p>Regards,</p>

<p>Floston</p>
