<div class="border border-gray-300 p-4 rounded mt-4 text-gray-800">
  <p class="text-xl font-semibold capitalize flex justify-normal">
    <% cache('bx-building-house.svg') do %>
      <%= image_tag "bx-building-house.svg", alt: "Property", class: "w-6 mr-2", draggable: false %>
    <% end %>
    <%= link_to property_path(property), draggable:false, data: { turbo_frame: "_top" }, class: "hover:underline" do %>
      <%= property.name %>
    <% end %>
  </p>
</div>
