<% if user_is_admin? && @properties.present? %>
  <%= turbo_frame_tag "property_results" do %>
    <div class="mb-14">
      <h2 class="text-xl mt-4"><%= show_count(@pagy_properties, Property) %></h2>
      <% if @properties.present? %>
        <%= render partial: "property", collection: @properties, as: :property, locals: { query: @query } %>
        <div class="mt-4 text-center">
          <%== pagy_nav(@pagy_properties) if @pagy_properties.pages > 1 %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
