<% if @requests.present? %>
  <%= turbo_frame_tag "requests_results" do %>
    <div class="mb-14">
      <h2 class="text-xl mt-4"><%= show_count(@pagy_requests, Request) %></h2>
      <% if @requests.present? %>
        <%= render partial: "request", collection: @requests, as: :request, locals: { query: @query } %>
      <% end %>
      <div class="mt-4 text-center">
        <%== pagy_nav(@pagy_requests) if @pagy_requests.pages > 1 %>
      </div>
    </div>
  <% end %>
<% end %>
