<div class="max-w-md">
  <%= link_to sanitize('&larr; Back'), :back, class: "text-gray-600" %>
  <p class="text-3xl font-semibold mt-4 mb-6">Reminders</p>
  <% if @reminders.any? %>
    <% @reminders.each do |reminder| %>
      <div class="border border-gray-300 p-4 rounded mb-4">
        <p>
          <span class="text-orange-500 font-semibold"><%= number_to_currency(reminder.amount, unit: 'KES ', precision: 0) %></span>
           &mdash; <%= reminder.created_at.strftime("%A, #{ordinal(reminder.created_at.day)} %B %Y") %>
        </p>
      </div>
    <% end %>
    <div class="my-6">
      <%= paginate @reminders %>
    </div>
  <% else %>
    <% if current_user.admin? %>
      <p class="text-gray-600">This tenant doesn't have any payment reminders yet</p>
    <% else %>
    <p class="text-gray-600">You don't have any payment reminders</p>
    <% end %>
  <% end %>
</div>
