<div class="max-w-md">
  <%= link_to sanitize('&larr; Back'), user_path(@user), class: "text-gray-600" %>
  <p class="text-3xl font-semibold mt-4 mb-6">Reminders</p>
  <% if @reminders.any? %>
    <%= render partial: "reminder", collection: @reminders, as: :reminder, cached: true %>
    <div class="my-6">
      <%= paginate @reminders %>
    </div>
  <% else %>
    <% if current_user.admin? %>
      <p class="text-gray-600">This tenant doesn't have any payment reminders yet</p>
    <% else %>
    <p class="text-gray-600">You don't have any payment reminders</p>
    <% end %>
  <% end %>
</div>
