<div id="<%= dom_id article %>">
  <p class="text-xl pl-2 mt-2 underline underline-offset-4 mb-4">
    <%= link_to article, data: { turbo_frame: "_top" } do %>
      <%= article.title %>
    <% end %>
  </p>
</div>
