  <% if current_user&.id == article.admin_id || (current_user&.admin_id == article.admin_id && article.published) %>
  <%= link_to article do %>
    <h2 class="text-xl mt-2 underline mb-4"><%= article.title %></h3>
  <% end %>
  <% end %>
