<div id="<%= dom_id article %>" class="">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">
    <%= article.title %>
  </h1>

  <p class="text-gray-600 mb-4">
    <%= article.body %>
  </p>

  <% if current_user&.admin? %>
    <span class="text-gray-600">
      <strong>status:</strong>
      <% if article.published? %>
        published
      <% else %>
        not published
      <% end %>
    </span>
  <% end %>
</div>
