<%= link_to sanitize('&larr; back to articles'), articles_path, class: "text-gray-600" %>

<div class="w-full max-w-xl mt-4">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">New article</h1>

  <%= render "form", article: @article %>
</div>
