<%= link_to sanitize('&larr; Back to articles'), articles_path, class: "text-gray-600" %>

<div class="w-full max-w-md mt-4">
  <%= render @article %>
  <% if current_user&.admin? %>
    <div class="mt-4">
      <%= link_to "Edit this article", edit_article_path(@article), class: "text-blue-500 hover:underline" %>
      <%= button_to "Delete this article", @article, method: :delete, data: { turbo_confirm: "Delete article?" }, class: "text-red-500 hover:underline" %>
    </div>
  </div>
<% end %>
