<div
    data-controller="scroll-to-top"
    class="scroll-to-top"
    data-action="click->scroll-to-top#scrollToTop"
    data-scroll-to-top-target="backToTop"
    >
    <%= image_tag "https://cdn.boxicons.com/svg/basic/bx-arrow-up-stroke.svg", alt: "Scroll to Top", class: "w-10", draggable: false %>
</div>
