<div id="<%= dom_id request %>">
  <p class="text-xl pl-2 w mt-2 underline underline-offset-4 mb-4 <%= 'line-through' if request.closed %>">
    <%= link_to user_request_path(current_user, request), data: { turbo_frame: "_top" } do %>
      <%= request.title %>
    <% end %>
  </p>
</div>
