<h1>Editing request</h1>

<%= render "form", request: @request %>

<br>

<div>
  <%= link_to "Show this request", user_request_path %> |
  <%= link_to "Back to requests", user_requests_path %>
</div>
