<div class="w-full max-w-md">
  <h1 class="text-4xl font-bold mb-6">
    <div class="flex justify-normal">
      <%= image_tag "bxs-hand.svg", class: "w-10 mr-2" %>
      Requests
    </div>
  </h1>

  <% if !current_user&.admin %>
    <%= link_to "Submit a request", new_user_request_path, class: "text-blue-500 hover:underline" %>
  <% end %>

  <% if @requests.any? %>
    <div id="requests" class="mt-4">
      <% @requests.each do |request| %>
        <% if current_user&.id == request.user_id || request.user.admin_id == current_user.id %>
          <%= render "request_index", request: request %>
        <% end %>
      <% end %>
    </div>
    <div class="my-4">
      <%= paginate @requests %>
    </div>
  <% else %>
    <% if current_user&.admin %>
      <p class="mt-4 text-gray-500">You haven't received any requests yet</p>
    <% else %>
      <p class="mt-4 text-gray-500">You haven't submitted any requests yet</p>
    <% end %>
  <% end %>
</div>
