<p class="text-6xl font-bold text-gray-800">403</p>
<p class="text-3xl text-gray-700 my-6">You don't have permission to access that page</p>

<%= link_to "Go back to the home page", root_path, class: "text-flostonlink underline mt-8" %>
