<p class="text-6xl font-bold text-gray-800">404</p>
<p class="text-3xl text-gray-700 my-6">Oops! Page not found</p>
<p class="text-lg text-gray-600">Looks like you've stumbled upon a page that doesn't exist.</p>
<p class="text-lg text-gray-600">But don't worry, here's a joke to cheer you up:</p>

<blockquote class="text-lg text-gray-600 mt-4">
  <p>"Can I have a pet crocodile?"</p>
  <p>"Only if it agrees to a 'snappy' lease!"</p>
</blockquote>

<%= link_to "Go back to the home page", root_path, class: "text-flostonlink underline mt-8" %>
