<% content_for :title, "Features" %>

<div class="max-w-lg">
  <h1 class="text-4xl font-bold text-gray-800">Features</h1>

  <div class="mt-6">
    <div class="mb-5">
      <h3 class="text-lg font-semibold text-gray-800">Unlimited tenants</h3>
      <p class="text-base leading-[1.75em]">
        Create and manage tenant accounts. Tenants can sign in to view their
        account details including next payment date & ammount due.
    </p>
    </div>

    <div class="mb-5">
      <h3 class="text-lg font-semibold text-gray-800">Unlimited requests</h3>
      <p class="text-base leading-[1.75em]">
        Receive and respond to tenant requests on repairs, inquiries...
      </p>
    </div>

    <div class="mb-5">
      <h3 class="text-lg font-semibold text-gray-800">Unlimited articles</h3>
      <p class="text-base leading-[1.75em]">
        Write articles for tenant reference. Onboarding checklist for new
        tenants, annoucenment, regulations...
      </p>
    </div>

    <div class="mb-5">
      <h3 class="text-lg font-semibold text-gray-800">Payment Reminders</h3>
      <p class="text-base leading-[1.75em]">
        Tenants receive reminders 5 days before the due date.
      </p>
    </div>
  </div>

  <section class="mt-6 mb-4">
    <h2 class="text-2xl font-semibold text-gray-800">Ready to get started?</h2>
    <p class="mt-3">
      Try Floston today for only $3.99/month.
    </p>
    <%= link_to "mailto:dngst@proton.me", draggable:false, class: "bg-floston text-flostontext font-semibold py-2 px-4 rounded-lg inline-block mt-4" do %>
      Contact Us
    <% end %>
  </section>
</div>
