<div class="max-w-lg">
  <h1 class="text-4xl font-bold">Features</h1>

  <div class="mt-4">
    <div class="mb-4">
      <h3 class="text-lg font-semibold">Tenants</h3>
      <p class="text-base leading-[1.75em]">
        Create and manage tenant accounts. Tenants can sign in to view their
        account details including next payment date and ammount due.
    </p>
    </div>

    <div class="mb-4">
      <h3 class="text-lg font-semibold">Requests</h3>
      <p class="text-base leading-[1.75em]">
        Accept and respond to tenant requests. Repairs, inquiry.
      </p>
    </div>

    <div class="mb-4">
      <h3 class="text-lg font-semibold">Articles</h3>
      <p class="text-base leading-[1.75em]">
        Write articles for tenant reference. Onboarding checklist for new tenants,
        property rules, routines; garbage collection.
      </p>
    </div>

    <div class="mb-4">
      <h3 class="text-lg font-semibold">Payment Reminders</h3>
      <p class="text-base leading-[1.75em]">
        Tenants receive reminders 5 days before the due date.
      </p>
    </div>
  </div>


  <section class="mt-6">
    <h2 class="text-2xl font-semibold">Ready to get started?</h2>
    <p class="mt-2">
      Try Floston today for only $1.99/month.
      <%= link_to "Process", onboarding_process_path, class: "text-flostonlink underline" %>
    </p>
    <%= link_to "mailto:dngst@proton.me", class: "bg-floston text-flostontext font-semibold py-2 px-4 rounded-lg inline-block mt-4" do %>
      Contact Us
    <% end %>
  </section>
</div>
