<div class="max-w-xl">
  <h2 class="text-4xl font-bold mb-4 text-gray-800">To set up an account, ping us with your:</h2>
  <ul>
    <li class="mb-2">First name</li>
    <li class="mb-2">Last name</li>
    <li class="mb-2">Email address</li>
    <li class="mb-2">Phone number</li>
  </ul>

  <%= link_to "mailto:dngst@proton.me", draggable:false, class: "bg-floston text-flostontext font-semibold py-2 px-4 rounded-lg inline-block mt-4" do %>
    Proceed
  <% end %>
</div>
