<div class="max-w-xl">
  <h2 class="text-4xl font-bold mb-4">To set up an account, we'll need:</h2>
  <ul>
    <li class="mb-2">First name</li>
    <li class="mb-2">Last name</li>
    <li class="mb-2">Email</li>
    <li class="mb-2">Phone</li>
  </ul>
  <p class="mt-4 leading-[1.75em]">After you receive your login credentials,</p>
  <p class="leading-[1.75em]">Sign in, change your password, and add payment details.</p>

  <%= link_to "mailto:dngst@proton.me", class: "bg-floston text-flostontext font-semibold py-2 px-4 rounded-lg inline-block mt-4" do %>
    Proceed
  <% end %>
</div>
