<dialog id="turbo-confirm" class="dialog">
  <form method="dialog">
    <p class="dialog-text">Are you sure?</p>
    <div class="mt-4">
      <button value="cancel" class="dialog-cancel-btn">Cancel</button>
      <button value="confirm" class="dialog-confirm-btn">Confirm</button>
    </div>
  </form>
</dialog>
