<div
  data-controller="back-to-top"
  class="back-to-top"
  data-action="click->back-to-top#scrollToTop"
  id="scrollToTop"
>
  <span class="hidden lg:flex">Scroll to Top</span>
  <span class="lg:hidden">
    <% cache('bx-up-arrow-alt.svg') do %>
      <%= image_tag "bx-up-arrow-alt.svg", class: "w-10", draggable: false %>
    <% end %>
  </span>
</div>
